body {
  --opacity: 1;
}

.content {
    width: 90%;
    margin: 0 auto;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 20px !important;
}

ul li{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    transition: opacity 1s;
    opacity: 0.2;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: salmon;
}

.opacity {
    opacity: var(--opacity);
}

main button {
    width: 50px
}

main .options {
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#time-interval {
    width: 50px;
}

#color-change {
    display: none;
}