main {
    margin-top: 100px;
    text-align: center;
    width: 80%;
    margin: auto;
    position: relative;
}

.content {
    border: 1px solid black;
    display: flow-root;
}

.output {
    margin-top: 20px;
}

#border-left-top, #border-left-bottom {
    float: left;
}

#border-right-top, #border-right-bottom {
    float: right;
}

.example {
    background: #aaca5e;
    max-width: 400px;
    width: 90%;
    height: 200px;
    margin: 25px auto;
}

select {
    display: block;
    margin: 0 auto;
}

select, button {
    margin-bottom: 5px;
}
