body {
    margin-top: 100px;
    text-align: center;
}

main {
    width: 80%;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

#border-left-top {
    display: block;
    position: absolute;
}

#border-left-bottom {
    display: block;
    position: absolute;
    bottom: 0px;
}

#border-right-top {
    display: block;
    position: absolute;
    right: 0px;
}

#border-right-bottom {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.example {
    background: #aaca5e;
    max-width: 400px;
    width: 90%;
    height: 200px;
    margin: 25px auto;
}

button {
    border-radius: 5%;
    background: #a7a2a21c;
    border-style: outset;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 15px;
}